@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    block-size: border-box;
    font-family: JetBrains Mono;
}

body {
    background-color: #EDEDED;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #1d1616;
    position: fixed;
    width: 100%;
    padding: 11px 0 6px 0;
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_menu {
        &_close {
            background: none;
            border: none;
            cursor: pointer;
            & img {
                width: 70px;
                height: auto;
            }
        }
    }
}

.main {
    background: url('../img/main_bg.png') no-repeat center center / cover;
    &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &_title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 25px;
        max-width: 700px;
        max-height: 327px;
        background-color: #000;
        border-radius: 35px;
        &_text {
            text-align: center;
            font-size: 50px;
            font-weight: 400;
            color: #fff;
            padding-bottom: 20px;
        }
    }
}

.catalog {
    padding-top: 100px;
    &_wrap {
        display: flex;
        padding-top: 100px;
    }
    &_title {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 400;
    }
    &_items {
        padding-left: 60px;
    }
    &_filters {
        &_items {
            padding-top: 60px;
        }
        &_item {
            padding-top: 10px;
        }
    }
    &_item {  
        display: flex;
        align-items: center;
        &_title {
            font-size: 24px;
            font-weight: 500;
        }
    }
    &_sort {
        display: flex;
        align-items: center;
        &_items {
            cursor: pointer;
            color: #585858;
            padding-left: 8px;
            border: none;
            background: none;
        }
        &_title {
            font-size: 24px;
            font-weight: 400;
        }
    }
    &_search {
        margin-left: 35px;
        padding-left: 15px;
        border: none;
        background-color: #CECECE;
        border-radius: 24px;
        height: 32px;
        &::placeholder {
            background: url('../img/search.svg') no-repeat; 
            background-position: 37% 60%;
            background-size: 11%;
            color: #000;
            font-size: 20px;
        }
    }
    &_products {
        padding-top: 60px;
    }
}

.test {
    width: 225px;
    height: 300px;
    background-color: #909090;
    padding: 10px;
    &_img1 {
        width: 137.74px;
        height: 146px;
    }
    &_img23 {
        width: 69.81px;
        height: 73px;
    }
    &_imgs {
        display: flex;
        width: 207.55px;
        height: 146px; 
    }
    &_imgs23 {
        display: flex;
        flex-direction: column;
    }
}