@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  block-size: border-box;
  font-family: JetBrains Mono;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EDEDED;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.header {
  z-index: 100;
  background-color: #1d1616;
  position: fixed;
  width: 100%;
  padding: 11px 0 6px 0;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .header_menu {
    display: none;
  }
}
.header_menu_item {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  padding-left: 45px;
}
.header_menu_item_avatar {
  width: 50px;
  height: auto;
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: -5px;
}
.header_menu_burger {
  display: none;
}
@media (max-width: 1000px) {
  .header_menu_burger {
    display: block;
    margin-right: -30px;
  }
  .header_menu_burger img {
    width: 70%;
  }
}

.main {
  background: url("../img/main_bg.png") no-repeat center center/cover;
}
.main_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 25px;
  max-width: 700px;
  max-height: 327px;
  background-color: #fff;
  border-radius: 35px;
}
@media (max-width: 1000px) {
  .main_title {
    max-height: 400px;
  }
}
.main_title_text {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  color: #000;
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .main_title_text {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .main_title img {
    width: 70%;
  }
}

.advantages {
  padding: 100px 0;
  background-color: #000;
  color: #fff;
}
@media (max-width: 1000px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages_wrap {
  position: relative;
}
.advantages_title {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .advantages_title {
    font-size: 35px;
    padding-bottom: 50px;
  }
}
.advantages_blocks {
  display: flex;
  flex-direction: column;
}
.advantages_block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}
@media (max-width: 1000px) {
  .advantages_block {
    margin-top: 25px;
  }
}
.advantages_block:first-child {
  margin-top: 0;
}
.advantages_block_text {
  padding: 25px;
  font-size: 32px;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .advantages_block_text {
    font-size: 16px;
  }
}
.advantages_block_title {
  font-size: 60px;
  font-weight: 500;
  width: 910px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .advantages_block_title {
    font-size: 16px;
    width: unset;
  }
}
.advantages_block img {
  width: 30%;
}
@media (max-width: 1000px) {
  .advantages_block img {
    width: 50%;
  }
}

.r-title {
  position: absolute;
  right: 0;
  text-align: end;
}
@media (max-width: 1000px) {
  .r-title {
    width: 150px;
  }
}

.l-block {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 910px;
}
@media (max-width: 1000px) {
  .l-block {
    width: unset;
  }
}
.l-block_pheol {
  background-image: linear-gradient(to bottom left, #CE80D2, #C062CA, #6A426C);
}

.r-block {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 1000px) {
  .r-block {
    margin-top: 25px;
  }
}
.r-block_pheol {
  background-image: linear-gradient(to bottom right, #CE80D2, #C062CA, #6A426C);
  width: 910px;
}

.catalog {
  margin: 100px 0;
  display: flex;
}
@media (max-width: 1000px) {
  .catalog {
    margin: 50px 0;
  }
}
.catalog_wrap {
  display: flex;
  padding-top: 100px;
}
@media (max-width: 1000px) {
  .catalog_wrap {
    padding-top: 50px;
  }
}
.catalog_title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .catalog_title {
    font-size: 30px;
  }
}
.catalog_items {
  padding-left: 60px;
}
.catalog_filters_items {
  padding-top: 60px;
  cursor: pointer;
}
.catalog_filters_item {
  padding-top: 10px;
}
@media (max-width: 1000px) {
  .catalog_filters_item {
    display: none;
  }
}
.catalog_item {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .catalog_item {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
}
.catalog_item_title {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .catalog_item_title {
    font-size: 20px;
  }
}
.catalog_sort {
  display: flex;
  align-items: center;
}
.catalog_sort_items {
  cursor: pointer;
  color: #585858;
  padding-left: 8px;
  border: none;
  background: none;
}
.catalog_sort_title {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .catalog_sort_title {
    display: none;
  }
}
.catalog_search {
  margin-left: 35px;
  padding-left: 15px;
  border: none;
  background-color: #CECECE;
  border-radius: 24px;
  height: 32px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .catalog_search {
    position: absolute;
    margin-top: 50px;
    margin-left: -150px;
    width: 307px;
  }
}
.catalog_search::placeholder {
  background: url("../img/search.svg") no-repeat;
  background-position: 37% 60%;
  background-size: 11%;
  color: #000;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .catalog_search::placeholder {
    background-position: 25% 60%;
    background-size: 11%;
  }
}
.catalog_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 60px;
  padding-top: 60px;
}
@media (max-width: 1000px) {
  .catalog_products {
    margin-top: 25px;
    margin-left: -150px;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    row-gap: 15px;
  }
}
.catalog_products_block {
  cursor: pointer;
  padding: 10px;
  background-color: #DFDFDF;
  max-width: 214px;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .catalog_products_block {
    width: 70%;
    height: auto;
  }
}
.catalog_products_block_photes {
  display: flex;
  border-radius: 5px;
  border: #000 solid 1px;
}
@media (max-width: 1000px) {
  .catalog_products_block_photes {
    width: 50px;
    height: auto;
  }
}
.catalog_products_block_name {
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}
@media (max-width: 1000px) {
  .catalog_products_block_name {
    font-size: 16px;
    padding-top: 7px;
  }
}
.catalog_products_block_subtitle {
  padding-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}
@media (max-width: 1000px) {
  .catalog_products_block_subtitle {
    font-size: 10px;
    padding-top: 2px;
  }
}
.catalog_products_block_description {
  font-size: 12px;
  font-weight: 400;
  color: #909090;
}
@media (max-width: 1000px) {
  .catalog_products_block_description {
    font-size: 8px;
  }
}
.catalog_products_block_price {
  font-size: 24px;
  font-weight: 500;
  padding-top: 4px;
}
@media (max-width: 1000px) {
  .catalog_products_block_price {
    font-size: 16px;
    padding-top: 2px;
  }
}

.footer {
  background-color: #000;
  padding: 106px 0;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}
@media (max-width: 1000px) {
  .footer_wrap {
    display: flex;
    flex-direction: column;
  }
}
.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
@media (max-width: 1000px) {
  .footer_nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 60%;
  }
}
.footer_block {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer_block {
    margin-top: 25px;
  }
}
.footer_block_title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.footer_block_subtitle {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.footer_block_subtitle:first-child {
  padding-top: 0;
}
@media (max-width: 1000px) {
  .footer_block_subtitle {
    padding-top: 8px;
  }
}
.footer_block_btn {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 25px;
  background-color: #6600FF;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .footer_block_btn {
    font-size: 12px;
  }
}
.footer_messengers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.about {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_title {
  padding-top: 220px;
  font-size: 68px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1000px) {
  .about_title {
    font-size: 34px;
    padding-top: 110px;
  }
}
.about_description {
  padding-top: 42px;
  font-size: 16pz;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .about_description {
    font-size: 14x;
    padding-top: 21px;
  }
}

.reviews {
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .reviews {
    padding-top: 25px;
  }
}
.reviews_title {
  font-size: 32px;
  font-weight: 500;
}

.review {
  margin-top: 25px;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 30px 0 rgba(97, 97, 97, 0.2);
}
@media (max-width: 1000px) {
  .review {
    margin-top: 12.5px;
  }
}
.review_title {
  display: flex;
}
.review_ava {
  margin-right: 30px;
  border-radius: 50px;
}
.review_user-name {
  padding-top: 7px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}
.review_text {
  margin-left: 105px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .review_text {
    margin-left: 0;
    margin-top: 10px;
  }
}

.login {
  padding-top: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrap {
  padding: 50px;
  background-color: #000;
  border-radius: 25px;
  color: #fff;
}
.login_title {
  display: flex;
}
@media (max-width: 1000px) {
  .login_title {
    flex-direction: column;
  }
}
.login_title_text {
  font-size: 30px;
  font-weight: 900;
  padding-left: 24px;
  color: #fff;
}
.login_title_text:first-child {
  padding-left: 0;
}
.login_boxes {
  margin-top: 25px;
}
.login_box {
  margin-top: 20px;
}
.login_box:first-child {
  margin-top: 0;
}
.login_box_text {
  font-size: 20px;
  font-weight: 500;
}
.login_box_input {
  width: 95%;
  font-size: 14px;
  color: #909090;
  border-radius: 25px;
  padding: 14px 0;
  padding-left: 20px;
}
.login_box_input::placeholder {
  font-size: 18px;
  color: #909090;
}
.login_btn {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
  background-color: #330000;
  border: none;
  border-radius: 25px;
  padding: 10px 14px;
}
.login_btn_text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #8D0000;
}

.selected {
  color: #8D0000;
}/*# sourceMappingURL=style.css.map */