@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    block-size: border-box;
    font-family: JetBrains Mono;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEDED;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.header {
    z-index: 100;
    background-color: #1d1616;
    position: fixed;
    width: 100%;
    padding: 11px 0 6px 0;
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_menu {
        @media (max-width: 1000px) {
            display: none;
        }
        &_item {
            font-size: 40px;
            font-weight: 500;
            color: #fff;
            padding-left: 45px;
            &_avatar {
                width: 50px;
                height: auto;
                background-color: #fff;
                border-radius: 50px;
                margin-bottom: -5px;
            }
        } 
        &_burger {
            display: none;
            @media (max-width: 1000px) {
                display: block;
                margin-right: -30px;
                & img {
                    width: 70%;
                }
            }
        }
    }
}

.main {
    background: url('../img/main_bg.png') no-repeat center center / cover;
    &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &_title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 25px;
        max-width: 700px;
        max-height: 327px;
        @media (max-width: 1000px) {
            max-height: 400px;
        }
        background-color: #fff;
        border-radius: 35px;
        &_text {
            text-align: center;
            font-size: 50px;
            font-weight: 400;
            color: #000;
            padding-bottom: 20px;
            @media (max-width: 1000px) {
                font-size: 25px;
            }
        }
        & img {
            @media (max-width: 1000px) {
                width: 70%;
            }
        }
    }
}

.advantages {
    padding: 100px 0;
    @media (max-width: 1000px) {
        padding: 50px 0;
    }
    background-color: #000;
    color: #fff;
    &_wrap {
        position: relative;
    }
    &_title {
        text-align: center;
        font-size: 70px;
        font-weight: 600;
        padding-bottom: 100px;
        @media (max-width: 1000px) {
            font-size: 35px;
            padding-bottom: 50px;
        }
    }
    &_blocks {
        display: flex;
        flex-direction: column; 
    }
    &_block {
        margin-top: 50px;
        @media (max-width: 1000px) {
            margin-top: 25px;
        }
        &:first-child {
            margin-top: 0;
        }
        display: flex;
        justify-content: space-between;
        border-radius: 50px;
        &_text {
            padding: 25px;
            font-size: 32px;
            font-weight: 400;
            @media (max-width: 1000px) {
                font-size: 16px;
            }
        }
        &_title {
            font-size: 60px;
            font-weight: 500;
            width: 910px;
            text-transform: uppercase;
            @media (max-width: 1000px) {
                font-size: 16px;
                width: unset;
            }
        }
        & img {
            width: 30%;
            @media (max-width: 1000px) {
                width: 50%;
                
            }
        }
    }
}

.r-title {
    position: absolute;
    right: 0;
    text-align: end;
    @media (max-width: 1000px) {
        width: 150px;
    }
}

.l-block {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 910px;
    @media (max-width: 1000px) {
        width: unset;
    }
    &_pheol {
        background-image: linear-gradient(to bottom left, #CE80D2, #C062CA, #6A426C);
    }
}

.r-block {
    margin-top: 50px;
    @media (max-width: 1000px) {
        margin-top: 25px;
    }
    display: flex;
    justify-content: flex-end;
    text-align: right;
    &_pheol {
        background-image: linear-gradient(to bottom right, #CE80D2, #C062CA, #6A426C);
        width: 910px;
    }
}

.catalog {
    margin: 100px 0;
    @media (max-width: 1000px) {
        margin: 50px 0;
    }
    display: flex;
    &_wrap {
        display: flex;
        padding-top: 100px;
        @media (max-width: 1000px) {
            padding-top: 50px;
        }
    }
    &_title {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 400;
        @media (max-width: 1000px) {
            font-size: 30px;
        }
    }
    &_items {
        padding-left: 60px;
    }
    &_filters {
        &_items {
            padding-top: 60px;
            cursor: pointer;
        }
        &_item {
            @media (max-width: 1000px) {
                display: none;
            }
            padding-top: 10px;
        }
    }
    &_item {  
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: unset;
        }
        &_title {
            font-size: 24px;
            font-weight: 500;
            @media (max-width: 1000px) {
                font-size: 20px;
            }
        }
    }
    &_sort {
        display: flex;
        align-items: center;
        &_items {
            cursor: pointer;
            color: #585858;
            padding-left: 8px;
            border: none;
            background: none;
        }
        &_title {
            font-size: 24px;
            font-weight: 500;
            @media (max-width: 1000px) {
                display: none;
            }
        }
    }
    &_search {
        margin-left: 35px;
        padding-left: 15px;
        border: none;
        background-color: #CECECE;
        border-radius: 24px;
        height: 32px;
        font-size: 20px;
        font-weight: 500;
        @media (max-width: 1000px) {
            position: absolute;
            margin-top: 50px;
            margin-left: -150px;
            width: 307px;
        }
        &::placeholder {
            background: url('../img/search.svg') no-repeat; 
            background-position: 37% 60%;
            @media (max-width: 1000px) {
                background-position: 25% 60%;
                background-size: 11%;
            }
            background-size: 11%;
            color: #000;
            font-size: 20px;
        }
    }
    &_products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 60px;
        padding-top: 60px;
        @media (max-width: 1000px) {
            margin-top: 25px;
            margin-left: -150px;
            grid-template-columns: 1fr 1fr;
            gap: 1px;
            row-gap: 15px;
        }
        &_block {
            cursor: pointer;
            padding: 10px;
            background-color: #DFDFDF;
            max-width: 214px;
            border-radius: 5px;
            @media (max-width: 1000px) {
                width: 70%;
                height: auto;
            }
            &_photes {
                display: flex;
                border-radius: 5px;
                border: #000 solid 1px;
                @media (max-width: 1000px) {
                    width: 50px;
                    height: auto;
                }
            }
            &_name {
                font-size: 24px;
                font-weight: 500;
                padding-top: 15px;
                @media (max-width: 1000px) {
                    font-size: 16px;
                    padding-top: 7px;
                }
            }
            &_subtitle {
                padding-top: 4px;
                font-size: 14px;
                font-weight: 400;
                color: #202020;
                @media (max-width: 1000px) {
                    font-size: 10px;
                    padding-top: 2px;
                }
            }
            &_description {
                font-size: 12px;
                font-weight: 400;
                color: #909090;
                @media (max-width: 1000px) {
                    font-size: 8px;
                }
            }
            &_price {
                font-size: 24px;
                font-weight: 500;
                padding-top: 4px;
                @media (max-width: 1000px) {
                    font-size: 16px;
                    padding-top: 2px;
                }
            }
        }
    }
}

.footer {
    background-color: #000;
    padding: 106px 0;
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 56px;
        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }
    }
    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            width: 60%;
        }
    }
    &_block {
        display: flex;
        flex-direction: column;
        @media (max-width: 1000px) {
            margin-top: 25px;
        }
        &_title {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }
        &_subtitle {
            padding-top: 16px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            &:first-child{
                padding-top: 0;
            }
            @media (max-width: 1000px) {
                padding-top: 8px;
            }
        }
        &_btn {
            margin-top: 10px;
            padding: 7px 10px;
            border: none;
            border-radius: 25px;
            background-color: #6600FF;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            @media (max-width:1000px) {
                font-size: 12px;
            }
        }
    }
    &_messengers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

.about {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_title {
        padding-top: 220px;
        font-size: 68px;
        font-weight: 600;
        text-align: center;
        @media (max-width: 1000px) {
            font-size: 34px;
            padding-top: 110px;
        }
    }
    &_description {
        padding-top: 42px;
        font-size: 16pz;
        font-weight: 400;
        @media (max-width: 1000px) {
            font-size: 14x;
            padding-top: 21px;
        }
    }
}

.reviews {
    padding-top: 50px;
    @media (max-width: 1000px) {
        padding-top: 25px;
    }
    &_title {
        font-size: 32px;
        font-weight: 500;
    }
}

.review {
    margin-top: 25px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 30px 0 rgb(97, 97, 97, .2);
    @media (max-width: 1000px) {
        margin-top: 12.5px;
    }
    &_title {
        display: flex;
    }
    &_ava {
       margin-right: 30px;
       border-radius: 50px;
    }
    &_user-name {
        padding-top: 7px;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
    }
    &_text {
        margin-left: 75+30px;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 1000px) {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

.login {
    padding-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &_wrap {
        padding: 50px;
        background-color: #000;
        border-radius: 25px;
        color: #fff;
    }
    &_title {
        display: flex;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        &_text {
            font-size: 30px;
            font-weight: 900;
            padding-left: 24px;
            color: #fff;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &_boxes {
        margin-top: 25px;
    }
    &_box {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        &_text {
            font-size: 20px;
            font-weight: 500;
        }
        &_input {
            width: 95%;
            font-size: 14px;
            color: #909090;
            border-radius: 25px;
            padding: 14px 0;
            padding-left: 20px;
            &::placeholder {
                font-size: 18px;
                color: #909090;
            }
        }
    }
    &_btn {
        display: flex;
        justify-content: center;
        margin: 50px auto 0 auto;
        background-color: #330000;
        border: none;
        border-radius: 25px;
        padding: 10px 14px;
        &_text {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            color: #8D0000;
        }
    }
}

.selected {
    color: #8D0000;
}